In [23]:
#ans1 both the loops can used for same result the difference is while loop first take condition and we have to give the limit for example
a= 0
for i in  range(10):
    print(a)
    a = a+ 1
a

0
1
2
3
4
5
6
7
8
9

10

In [26]:
#example of while
while a<10:
    a= a + 1
a

10

#Ans2.

In [3]:
# sum by for loop 
a=0
b=1
for i in range(10):
    print(b)
    a= a+b
    b= b+1
a
# 55 is sum by printing a

1
2
3
4
5
6
7
8
9
10

55

In [4]:
# product by for loop 
b=1 
a=1
for i in range(10):
    print(b)
    a= a*b
    b= b+1
a
# 3628800 is a product by printing a

1
2
3
4
5
6
7
8
9
10

3628800

In [5]:
# sum by while loop 
a= 0
b =1
while b<=10:
    print(b)
    a= a+b
    b=b+1
a

1
2
3
4
5
6
7
8
9
10

55

In [6]:
# product by while loop 
a= 1
b =1
while b<=10:
    print(b)
    a= a*b
    b=b+1
a

1
2
3
4
5
6
7
8
9
10

3628800

Ans 3

In [7]:
#ans3
n= int(input("enter a bill amount"))
if n<=100:
    a=n*4.5
elif n>100 and n<=200:
    a=100*4.5+( n-100)*6
elif n>200 and n<=300:
    a = 100*4.5 + 100*6+(n-200)*10
else:
    a=100*4.5 + 100*6 + 100*10+(n-300)*20
a

enter a bill amount 310

2250.0

Ans 4

In [8]:
#ans 4
l=[]
a=1
for i in range(100):
    l.append(a)
    a=a+1
l2=[]
p=int()
for a in l:
    a= a**3
    l2.append(a)
l3=[]
for b in l2:
    if b%4==0:
        l3.append(b)
    elif b%5==0:
        l3.append(b)
l3

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

Ans 5

In [9]:
count = 0
string = "I want to become a data scientist"
for j in string:
    if j == "a" or j == "e" or j == "i" or j == "o" or j == "u" or j == "A" or j == "E" or j == "I" or j == "O" or j == "U":
        count =count +1
print(count)

12