## Assignment 2
### ANS 1

In [2]:
a = int(input("enter marks"))
if a > 90:
    print("A")
elif 90>= a >80:
    print("B")
elif 80>= a >= 60:
    print("C")
else :
    print("D")

enter marks 75

C

## ANS2

In [3]:
x = int(input(" price of car"))
if x> 100000:
    a= x+( x*15)/100
elif 100000>=x > 50000:
    a= x+ (x*10)/100
elif x<= 50000:
    a= x+(x*5)/100
print(a)

 price of car 50000

52500.0

## ANS 3

In [4]:
a = input("city")
d= {"delhi": "red fort","agra":"taj mahal", "jaipur":"jal mahal"}
print(d[a])

city delhi

red fort

## ANS 4

In [5]:
b = 0
n = int(input("e"))
for c in range( 1 , n+1):
        if c%3 ==0:
            b = b+1
print(b)

e 9

3

## ANS 5

While loop is used to run a block code unit a certain condition is met

In [3]:
a=0
while a < 10:
    a=a+1
    print(a)

1
2
3
4
5
6
7
8
9
10

## ANS 6

In [3]:
a = 0
b = 1 
c = 0
while c < 10:
    print(a)
    a = a + b 
    b = a 
    c = c+1

0
1
2
4
8
16
32
64
128
256

In [6]:
a = 0
b = 1 
n = 0
while n <= 10:
    print(a)
    c = a + b 
    a = b 
    b = c 
    n = n+1

0
1
1
2
3
5
8
13
21
34
55

In [17]:
#table 
t = int(input("table of "))
a = 1 
while a <=10:
    c = a* t
    a = a+1
    print( t ,"*", a-1 ,"=", c)

table of  2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [1]:
a = 10 
while a <= 10 and a > 0:
    print(a)
    a = a-1

10
9
8
7
6
5
4
3
2
1